* {
  box-sizing: border-box;
}

section {
  width: 100%;
  background-color: aqua;
}

.left {
  float: left;
  width: 200px;
  background-color: bisque;
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: inside;
}

.content {
  background-color: darkgray;
  width: calc(100% - 200px);
  display: inline-block;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: forestgreen;
  height: 100px;
  width: 100%;
}